.form{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input[type="text"]{
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid #ccc;
  min-width: 80%;
}
.form button[type="submit"]{
  border: none;
  height: 50px;
  width: 50px;
  background-color: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: 15px;
}
