.tarefas{
  margin-top: 30px;

}
.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 500ms;
  color: #fff;
  animation-name: fadein;
  animation-duration: 500ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tarefas li:hover{
  background-color: #0a507069;
  border-radius: 50px;
}

.tarefas li .edit{
  margin-right: 15px;
  font-size: 20px;
  color: #ccc;
}

.tarefas li .delete{
  margin-right: 15px;
  font-size: 20px;
  color: crimson;
}

.tarefas li .edit,
.tarefas li .delete{
  cursor: pointer;
}
